    <!-- clients Content -->
    <div id="clients" class="section text-center trust">
        <div class="container">
          <div class="row">
            <div>
              <h1>They trust us:</h1>
              <div class="row">
                    <a href="http://www.hole19golf.com/"><img alt="Hole19 Golf" class="trust-img animated fadeIn" src='@routes.Assets.at("images/HOLE19-Master-Logo-Blue-Inverted.png")'></a>

                    <a href="http://www.thing-pink.pt/"><img alt="Thing-Pink" class="trust-img animated fadeIn" src='@routes.Assets.at("images/thing-pink.jpg")'></a>

                    <a href="http://www.bicastudios.com/home"><img alt="Bica-Studios" class="trust-img animated fadeIn" src='@routes.Assets.at("images/logo_bica.png")'></a>

                    <a href="http://tradiio.com/"><img alt="Tradiio" class="trust-img animated fadeIn" src='@routes.Assets.at("images/tradiio.jpg")'></a>
                </div>
            </div>
          </div>
        </div>
    </div>
