<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()
<body>
    @views.html.top.render()

    <div class="container text-center">
        <h1>We love users. Write us and we will get back to you.</h1>
        <br><br>
        <section>
            <div class="row">
                <div class="col-12 col-lg-3 col-sm-2">
                <p><a href="mailto:hello@@wazza.io"><i class="fa fa-envelope contact-share-icons"></i></a></p>
                    <h3>hello@@wazza.io</h3>
                </div>
                <div class="col-12 col-lg-3 col-sm-2">
                    <p><a href="http://www.linkedin.com/company/wazza-mobile"><i class="fa fa-linkedin contact-share-icons"></i></a></p>
                    <h3>wazza</h3>
                </div>
                <div class="col-12 col-lg-3 col-sm-2">
                    <p><a href="https://twitter.com/wazza_io"><i class="fa fa-twitter contact-share-icons"></i></a></p>
                    <h3>@@wazza_io</h3>
                </div>
                <div class="col-12 col-lg-3 col-sm-2">
                    <p><a href="https://www.facebook.com/wazzaio"><i class="fa fa-facebook contact-share-icons"></i></a></p>
                    <h3>facebook/wazzaio</h3>
                </div>
            </div>
            <br><br><br>
        </section>
    </div>
    <div class="newsletter text-center">
        <h1>Where to find us</h1>
        <br><br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1329.21052809778!2d-9.147328226097398!3d38.707363087570265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd75591a50a686dc4!2sBeta-i!5e1!3m2!1sen!2spt!4v1402918277546" width="400" height="300" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="col-lg-3">
                <br><br><br>
                <!--p><a href="http://startuplisboa.com/"><i class="fa fa-home"></i></a></p-->
                <!--span class="hover-text font-light ">Startup Lisboa<br>Rua da Prata 80</span></a-->
                <p><a href="http://www.lisbon-challenge.com/"><i class="fa fa-home contact-share-icons"></i></a></p>
                <h3>Lisbon Challenge - Beta-i<br>Pra&ccedil;a Dom Luis I, 30</h3>
            </div>
        </div>
        <br>
    </div>

    @views.html.footer.render()
    @views.html.scripts.render()

</body>
</html>
