<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()

@views.html.top.render()

           <div id="contact" class="row title-row">
                <h2 class="text-center">We love customers. Write us and we will get back to you.</h2>
            </div><!-- /row -->
            <section>
                <div id="contact-row-4" class="row">
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
                        <span class="hover-text font-light ">info@@usewazza.com</span>
                    </div><!-- /col12 -->
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="http://startuplisboa.com/"><i class="icon icon-home"></i></a></p>
                        <!--span class="hover-text font-light ">Startup Lisboa<br>Rua da Prata 80</span></a-->
                        <span class="hover-text font-light ">Lisbon Challenge - Beta-i<br>Pra&ccedil;a Dom Luis I, 30</span>
                    </div><!-- /col12 -->
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="http://www.linkedin.com/company/wazza-mobile"><i class="icon icon-linkedin"></i></a></p>
                        <span class="hover-text font-light ">wazza</span>
                    </div><!-- /col12 -->
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="https://twitter.com/usewazza"><i class="icon icon-twitter"></i></a></p>
                        <span class="hover-text font-light ">@@usewazza</span>
                    </div><!-- /col12 -->
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="https://www.facebook.com/usewazza"><i class="icon icon-facebook"></i></a></p>
                        <span class="hover-text font-light ">facebook/usewazza</span>
                    </div><!-- /col12 -->
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                </div><!-- /row -->
            </section>

@views.html.footer.render()