<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()

<body>
	@views.html.top.render()

	<div class="container">
		<div class="row">

				<h1 id="demo">Demo</h1>
				<hr>

				<iframe width="560" height="315" src="//www.youtube.com/embed/fQjj-neOS1w" frameborder="0" allowfullscreen></iframe>

		</div>
	</div>

    @views.html.footer.render()
    @views.html.scripts.render()

</body>
</html>
