@(divId: String, inputId: String, buttonId: String)

    <div id="@divId">
        <form accept-charset="UTF-8" role="form">
            <fieldset>
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                      <input type="email"
                      id="@inputId"
                      class="form-control email"
                      placeholder="E-mail"
                      name="email"
                      required
                      >
                    </div>
                    <div class="hidden-lg col-md-4"><br /></div>
                    <div class="col-lg-6 col-md-4">
                      <input type="submit"
                      id="@buttonId"
                      class="btn btn-lg btn-success call-to-action"
                      type="submit"
                      value="Ask for Demo"
                      >
                    </div>
                </div>
                @if(divId != "contact"){
                  <br><br><br>
                  <br><br><br>
                }
            </fieldset>
        </form>
      @share
    </div>


@share = {
    <h2 id="shareText" hidden>Help us spread the word!</h2>
    <div id="share" hidden></div>
}
