@(loginForm: Form[String])(test: String)

@import helper._
@import helper.twitterBootstrap._

@main("Wazza") {


<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=317130958404596";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thank you for joining us</h4>
      </div>
      <div class="modal-body">
        <div class="row" align="center">
          <h4>You will be among the first to know about the amazing stuff we are building</h4>
          <h4>Help us spread the word</h4>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-4">
            <div class="fb-share-button" data-href="http://www.usewazza.com" data-type="button"></div>
          </div>
          <div class="col-md-2">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.usewazza.com" data-text="I've just signed up for @@UseWazza" data-via="UseWazza">Tweet</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="headline">
        <img src="@routes.Assets.at("images/letter-logo.png")">
        <h2 class="motivation">Virtual store as a service</h2>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Services -->
    <div id="what" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1>In app purchases made simple</h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-cloud"></i>
              <h2>Selling ecosystem API</h2>
              <h4>Manage all your app's virtual goods with no infrastructure headaches.</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-bar-chart-o"></i>
              <h2>Real-time analytics</h2>
              <h4>Get detailed insights about your users preferences and trends.</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-clock-o"></i>
              <h2>Fast to deploy</h2>
              <h4>Simple and fast so you can start selling your stuff right away.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>I find your lack of revenue disturbing</h1>
      </div>
    </div>
    <!-- /Callout -->


    <!-- Call to Action -->
    <div id="contact" class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
                @helper.form(action = routes.Application.submit()) {
                    <fieldset>
                        <h2>Get notified about our next moves</h2>
                        @inputText(
                            loginForm("email"),
                            '_label -> "Email"
                        )
                    </fieldset>
                    @if(loginForm.hasGlobalErrors){
                      <p class="error">Please insert a valid email</p>
                    }
                    <div class="actions">
                        <input type="submit" class="btn btn-lg btn-danger" value="Sign up">
                    </div>
                }
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

    <!-- Map -->
    <div id="contact" class="map">
<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.pt/maps?t=m&amp;q=Startup+Lisboa+Tech,+Rua+da+Prata,+Lisboa&amp;ie=UTF8&amp;hq=Startup+Lisboa+Tech,&amp;hnear=Rua+da+Prata,+Lisboa&amp;cid=3457057023008761797&amp;ll=38.718599,-9.135046&amp;spn=0.032144,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.pt/maps?t=m&amp;q=Startup+Lisboa+Tech,+Rua+da+Prata,+Lisboa&amp;ie=UTF8&amp;hq=Startup+Lisboa+Tech,&amp;hnear=Rua+da+Prata,+Lisboa&amp;cid=3457057023008761797&amp;ll=38.718599,-9.135046&amp;spn=0.032144,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>
    </div>
    <!-- /Map -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><p id="twitter" class="fa fa-twitter fa-3x" href="https://twitter.com/UseWazza"></p></li>
              <li><p id="facebook" class="fa fa-facebook fa-3x" href="https://www.facebook.com/usewazza"></p></li>
              <li><p id="linkedin" class="fa fa-linkedin fa-3x" href="http://www.linkedin.com/company/wazza-mobile"></p></li>
            </ul>
            <p>Copyright &copy; Wazza 2013 - All rights reserved</p>
          </div>
        </div>
      </div>
    <script type="text/javascript"> 
      var currentUrl = window.location.pathname;
      if ("@test" == "wazza") {
        $('#myModal').modal('toggle'); 
      }
    </script>
    </footer>
  </body>
}
