<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()
<body>

  <br><br>
        <section class="container">
        <div class="jumbotron newsletter text-center center-block">
          <div class="row">
          <a class="navbar-brand logo" href="https://www.wazza.io/">
            <img src="@routes.Assets.at("images/wazza_logo.png")" alt="Wazza Logo" class="logo-landing img-responsive center-block">
          </a>
          </div>
          <div class="row">
            <h1>Offer your customers the most powerful payment analytics</h1>
          </div>
          </div>
        </section>

  <section class="container">
        <div class="jumbotron middle-gray text-center center-block">
          <div class="row">
            <h3>What's in for</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2>Payment Providers</h2>
              <h4>Plug and Play platform with all payment information</h4>
              <h4>Complementary added value service</h4>
              <h4>White-label solution</h4>
            </div>
            <div class="col-md-6">
              <h2>Online Merchants</h2>
              <h4>Payment performance insights</h4>
              <h4>Customer behaviour and sales trends</h4>
              <h4>Act on insights</h4>
            </div>
          </div>
        </div>
  </section>

          <div class="container row text-center">
            <a href="https://www.wazza.io/register">
              <button class="btn btn-lg btn-success call-to-action" style="width:250px">I want to know more</button>
            </a>
          </div>
          <br>

    @views.html.footer.render()

</body>
</html>

