<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()
<body class="middle-gray" style="vertical-align:middle;">
      <div class="container">
        <section>
        <div class="jumbotron newsletter text-center center-block">
          <div class="row">
          <a class="navbar-brand logo" href="https://www.wazza.io/">
            <img src="@routes.Assets.at("images/Wazza logos finais_Horizontal_Branco.png")" alt="Wazza Logo" class="logo-landing img-responsive center-block">
          </a>
          </div>
          <div class="row">
          <h1>Online payment analytics</h1>
          </div>
          <div class="row">
          <div class="col-md-6">
            <p><a class="btn btn-primary btn-lg call-to-action-initial" href="https://www.wazza.io/payment_provider" role="button">I'm a Payment Provider</a></p>  
          </div>
          <div class="col-md-6">
            <p><a class="btn btn-primary btn-lg call-to-action-initial" href="https://www.wazza.io/mobile_developer" role="button">I'm a Mobile Developer</a></p>
          </div>
          </div>
        </div>
        </section>
    </div>

    <footer class="middle-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline" style="color:#656565">
                        <li><a href="https://www.wazza.io">Home</a></li>
                        <li>&sdot;</li>
                        <!--li><a href="/about">About</a></li>
                        <li>&sdot;</li-->
                        <!-- <li><a href="http://wazza-blog.azurewebsites.net/">Blog</a></li>
                        <li>&sdot;</li> -->
                        <li><a href="mailto:hello@@wazza.io?Subject=Hello">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
            <br>
                <div class="col-lg-12 text-center">
                    <ul class="list-inline" style="color:#656565">
                        <li><a href="https://www.linkedin.com/company/wazza-mobile"><i class="fa fa-linkedin share-icons" style="color:#656565 !important"></i></a></li>
                        <li><a href="https://twitter.com/wazza_io"><i class="fa fa-twitter share-icons" style="color:#656565 !important"></i></a></li>
                        <li><a href="https://www.facebook.com/wazzaio"><i class="fa fa-facebook share-icons" style="color:#656565 !important"></i></a></li>
                    </ul>                   
                </div>
            </div>
            <p class="copyright text-center medium" style="color:#656565">Copyright &copy; Wazza 2015. All Rights Reserved</p>
        </div>

    </footer>


</body>
</html>

