<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()
<body>
  @views.html.top_lp.render()
  <div id="intro" class="font-grey">
    <div class="container">
      <div class="row text-center">
          <div class="top-message-pp">
            <h1 class="trust-h1">Online Payment Analytics</h1>
            <h3>Offer your customers the most powerful payment analytics</h3>
            <br>
        </div>
      </div>
      <div class="row text-center">
        <img src='@routes.Assets.at("images/teaser_pp.png")' alt="Wazza dashboard" class="bordas">
    </div>
    </div>
  </div>

    <div class="section text-center background-white sections_headline">
      <div class="container">
          <div class="row">
            <h2>Online merchants do not have a <b>complete solution</b><br> to <b>measure</b> and <b>analyse</b> their <b>payments performance</b></h2><br>
            <h1>We enable <b>payment providers</b> to offer its merchants’ <b>payment analytics</b></h1>
          </div>
          <br>
          <div class≃"row text-center">
            <a href="https://www.wazza.io/register">
              <button class="btn btn-lg btn-success call-to-action" style="width:250px">I want to know more</button>
            </a>
          </div>
      </div>
    </div>

    <div id="features" class="section text-center newsletter">
      <div class="container">
          <div class="row">
            <h1>What's in for</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2>Payment Providers</h2>
              <h4>Plug and Play platform with all payment information</h4>
              <h4>Complementary added value service</h4>
              <h4>White-label solution</h4>
            </div>
            <div class="col-md-6">
              <h2>Online Merchants</h2>
              <h4>Payment performance insights</h4>
              <h4>Customer behaviour and sales trends</h4>
              <h4>Act on insights</h4>
            </div>
          </div>
      </div>
    </div>

    <div class="section text-center background-white sections_headline">
      <div class="container">
          <div class="row">
            <h1>Next generation payment analytics for payment providers</h1>
          </div>
          <br>
          <div class="row text-center">
            <img src='@routes.Assets.at("images/products.png")' alt="Wazza dashboard" class="bordas" style="width:90%">
          </div>
          <br><br>
          <div class≃"row text-center">
            <a href="https://www.wazza.io/register">
              <button class="btn btn-lg btn-success call-to-action" style="width:250px">I want to know more</button>
            </a>
          </div>
      </div>
    </div>

    @views.html.footer.render()

</body>
</html>

