<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->

<!-- head -->
@views.html.head.render()
<body>
    @views.html.top.render()

    <div class="container" style="height: 73%; margin-top: 5em;">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
          <h3 class="header">Please fill out your info so we can contact you</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <form id="requestContactForm" action="/register">
            <fieldset class="body">
              <div class="body">
                <div class="form-group">
                  <input class="form-control" ng-model="form.name" placeholder="Name" name="name" type="text" >
                </div>
                <div class="form-group">
                  <input class="form-control" ng-model="form.email" placeholder="E-mail" name="email" type="email" >
                </div>
                <div class="form-group">
                  <input class="form-control" ng-model="form.company" placeholder="Company" name="company" type="text" >
                </div>
                <div class="form-group">
                  <input class="form-control" ng-model="form.promocode" placeholder="Promocode" name="promocode" type="text">
                </div>
                
            </fieldset>
            <div class="footer">
              <input type="submit" class="btn btn-lg btn-success call-to-action" value="Request contact"></input>
            </div>
          </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4">
            <h2>Thank you! We will contact you soon</h2>
          </div>
        </div>
      </div>
      
    @views.html.footer.render()
    @views.html.scripts.render()

</body>
</html>
