
    <!-- JavaScript -->
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script defer src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    <!--script src="@routes.Assets.at("javascripts/flowtype.js")" type="text/javascript"></script-->
    <script defer src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    <!--script src="@routes.Assets.at("javascripts/jquery.share.js")" type="text/javascript" defer></script-->
    <script defer src="@routes.Assets.at("javascripts/code.js")" type="text/javascript"></script>
    <!-- <script defer src="@routes.Assets.at("javascripts/selectize.js")" type="text/javascript"></script> -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
