<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="https://www.wazza.io/">
                <img src="@routes.Assets.at("images/Wazza logos finais_Horizontal_Branco.png")" alt="Wazza Logo" class="logo-landing">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse navbar-mobile">
            <ul class="nav navbar-nav">
                <li>
                  <button
                     onclick="window.location='https://www.wazza.io/register'"
                     style="margin-top: 8px;"
                     class="btn btn-success call-to-action">
                     Talk to sales
                  </button>
                </li>
                <li><a href="#features">Features</a></li>
                <!--li><a href="#pricing">Pricing</a></li-->
                <!-- <li><a href="#about">About</a></li> -->
                <li><a href="https://app.wazza.io/">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

